# Python
__pycache__/
*.py[cod]
.venv/
venv/

# OS / IDE
.DS_Store
.vscode/
.idea/

# Local data / logs
logs/
*.log
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Airflow local
airflow.db
webserver_config.py
